.feedback {
    display: grid;
    grid-column: center-start / center-end;
    grid-template-columns:repeat(3, minmax(3rem, 1fr));
    grid-template-rows: 5rem repeat(2, 1fr) 5rem;
    grid-gap: 3rem;
    grid-row-gap: 2rem;
    max-height: 30rem;
    height: 30rem;

    &__title {
        color: $color-yellow-main;
        text-decoration: underline;
        font-style: italic;
        grid-column: 1/-1;
        text-align: center;
        font-size: 3rem; 
    }
}