.popular-tours {
    background-color: $color-grey-light-1;
    margin: 10rem 0;

    display: grid;
    grid-column: center-start / center-end;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem;
}


.popular-tour {
    display: grid;
    grid-template-columns: repeat(0, 1fr);
    // grid-row-gap: 1.5rem;
    overflow: hidden;
    box-shadow: 0 0rem 1rem rgba($color-grey-light-2, .9);

    &:hover {
        box-shadow: 0 0rem 1rem rgba(#524949, .9);
    }

    &__img {
        width: 100%;
        height: 87.5%;
        background-size: cover;
        grid-row: 1/2;
        grid-column: 1 /3; // блока - все колонки
        z-index: 1;

        transform: scale(1.3); 
        transition: all .5s;
    }

    &__stars {
        grid-row: 1/2;
        grid-column: 2/3;
        z-index: 2;
        justify-self: end; // только лайк закинет вправо
        margin-top: .5rem;
        margin-right: 1rem;
        
        &--star {
            width: 3rem;
            height: 3rem;
            fill: #fff;
            -webkit-filter: drop-shadow( 0 0 1rem $color-black );
            filter: drop-shadow( 0 0 1rem $color-black );
        }
    }

    &__title {
        font-size: 1.4rem;
        background-color: $color-grey-light-2;
        color: #fff;
        text-shadow: 0 0rem 2rem rgba($color-grey-light-1, .7);
        box-shadow: 0 0rem 3rem rgba($color-black, .9);
        width: 80%;
        padding: 1rem 2rem;
        text-align: center;

        grid-row: 1/2;
        z-index: 3;
        grid-column: 1 /3; // блока - все колонки
        justify-self: center; // закинет блок в центр
        align-self: end; // block in the bottom
        transform: translateY(5%);  // move block bottom
    }

    &__price,
    &__btn {
        font-size: 1.4rem;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-top: 1.2rem;
        padding-bottom: 1rem;
        
    }

    &__btn {
        background-image: linear-gradient(to right,#2998ff, #5643fa);
        text-decoration: none;
        color: #fff;
        transition: all .5s;

        &:hover {
            background-image: linear-gradient(to right,#5643fa,#2998ff);
        }
    }


    &:hover &__img {
        transform: scale(1);
        height: 100.5%;
        width: 100%;
    }
}