*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 1rem; }

.container {
  display: grid;
  grid-template-rows: repeat(12, min-content);
  grid-template-columns: [left-extra-start] 10vh [left-extra-end center-start] minmax(10rem, 1fr) [center-end right-extra-start] 10vh [right-extra-end]; }

.footer {
  background-color: khaki;
  grid-column: center-start / center-end; }

.header {
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns: 15vw 1fr 15vw;
  grid-template-rows: repeat(2, 1fr);
  max-height: 10rem; }
  .header__logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-row: 1/-1; }
  .header__menu {
    grid-row: 1/3;
    font-size: 1.2rem;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    grid-gap: .5rem; }
    .header__menu--item {
      border: 1px solid #ddae71;
      align-self: center;
      padding: .8rem 1.2rem;
      background-color: #282b2e;
      color: #fff; }
      .header__menu--item:hover {
        color: #282b2e;
        background-color: #fff;
        box-shadow: 0 0rem 1rem rgba(82, 73, 73, 0.9); }
    .header__menu--item--active {
      background-color: #ddae71; }
  .header__contacts {
    grid-row: 1/-1;
    grid-column: 3/4;
    align-self: center;
    display: grid;
    align-items: center; }
    .header__contacts > * {
      padding: .2rem 0;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center; }

.adventage {
  background-color: aquamarine; }

.advert-1 .prev, .advert-1 .next {
  font-size: 3rem;
  cursor: pointer;
  background-color: #282b2e;
  color: #ddae71;
  border-bottom: 1px solid #ddae71;
  border-top: 1px solid #ddae71;
  display: flex;
  justify-content: center; }

.advert-1 {
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(13, 1fr);
  min-height: 38rem;
  max-height: 44rem;
  transition: all 0.5s ease;
  background-color: #e8e8e8; }
  .advert-1 .prev {
    grid-row: 12/13;
    grid-column: 12/13;
    border-left: 1px solid #ddae71; }
  .advert-1 .next {
    grid-row: 12/13;
    grid-column: 13/14;
    border-right: 1px solid #ddae71; }
  .advert-1__slider {
    grid-row: 1/14;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(14, 1fr); }
    .advert-1__slider--img {
      grid-row: 1 / -1;
      grid-column: 1 / 12; }
      .advert-1__slider--img img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%; }
    .advert-1__slider__content {
      grid-row: 3 / 13;
      grid-column: 10 / 16;
      background-color: #282b2e;
      color: #fff;
      padding: 4rem 4rem;
      height: 100%;
      width: 100%;
      object-fit: cover; }
      .advert-1__slider__content--description {
        font-size: 1.4rem;
        margin-bottom: 5%; }
      .advert-1__slider__content--title {
        font-size: 3.2rem;
        margin-bottom: 5%; }
      .advert-1__slider__content--btn {
        text-transform: uppercase;
        background-color: #282b2e;
        border: 2px solid #ddae71;
        color: #fff;
        padding: 1.5rem 3rem;
        font-size: 1.5rem;
        position: relative; }
      .advert-1__slider__content--btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: #ddae71;
        color: #282b2e;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, color 0.1s; }
      .advert-1__slider__content--btn:hover::before {
        transform: scaleY(1);
        width: 100%;
        color: #282b2e; }
      .advert-1__slider__content--btn:active::before {
        background-color: #ddae71;
        color: #282b2e; }
  .advert-1 .slider-btn {
    grid-row: 13/14;
    grid-column: 1 / 2;
    justify-content: center; }
    .advert-1 .slider-btn__dot {
      cursor: pointer;
      height: 25px;
      width: 25px;
      margin: 0 2px;
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid #282b2e;
      transition: background-color 0.6s ease; }
      .advert-1 .slider-btn__dot:hover {
        background-color: #717171; }

.advert-2 .prev, .advert-2 .next {
  font-size: 3rem;
  cursor: pointer;
  color: #ddae71;
  display: flex; }

.advert-2 {
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(13, 1fr);
  min-height: 25rem;
  max-height: 35rem;
  transition: all 0.5s ease;
  background-color: #f3f4f4; }
  .advert-2 .prev {
    grid-row: 7/8;
    grid-column: 2/3;
    justify-content: end;
    padding-right: 15%; }
  .advert-2 .next {
    grid-row: 7/8;
    grid-column: 15/16;
    justify-content: start;
    padding-left: 15%; }
  .advert-2__slider {
    grid-row: 1/14;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(14, 1fr); }
    .advert-2__slider--img {
      grid-row: 3/ 13;
      grid-column: 3 / 10; }
      .advert-2__slider--img img {
        object-fit: fill;
        display: block;
        width: 100%;
        height: 100%; }
    .advert-2__slider__content {
      grid-row: 4 / 14;
      grid-column: 9 / 15;
      padding: 4rem 4rem;
      height: 100%;
      width: 100%;
      object-fit: cover;
      background-color: #fff; }
      .advert-2__slider__content--title {
        font-size: 2.5rem;
        margin-bottom: 3%;
        color: #282b2e;
        cursor: pointer;
        transition: all .5s; }
        .advert-2__slider__content--title:hover {
          color: #ddae71; }
      .advert-2__slider__content--span {
        color: #c8cacb; }
      .advert-2__slider__content--list {
        list-style: none;
        margin-top: 10%; }
        .advert-2__slider__content--list-item {
          display: grid;
          grid-template-columns: 10vh 1fr;
          margin-bottom: 2%; }
          .advert-2__slider__content--list-item svg {
            fill: #55c57a;
            height: 1rem; }
          .advert-2__slider__content--list-item span {
            color: #282b2e; }

.calculator {
  background-color: blanchedalmond; }

.feedback {
  background-color: salmon; }

.follow-us {
  background-color: thistle; }

.popular-tours {
  padding-bottom: 5rem;
  padding-top: 3rem;
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 5rem; }
  .popular-tours__title {
    color: #282b2e;
    text-decoration: underline;
    font-style: italic;
    grid-column: 1/-1;
    text-align: center;
    font-size: 3rem; }

.popular-tour {
  display: grid;
  grid-template-columns: repeat(0, 1fr);
  overflow: hidden;
  box-shadow: 0 0rem 1rem rgba(170, 170, 170, 0.9); }
  .popular-tour:hover {
    box-shadow: 0 0rem 1rem rgba(82, 73, 73, 0.9); }
  .popular-tour__img {
    width: 100%;
    height: 87.5%;
    background-size: cover;
    grid-row: 1/2;
    grid-column: 1 /3;
    z-index: 1;
    transform: scale(1.3);
    transition: all .5s; }
  .popular-tour__stars {
    grid-row: 1/2;
    grid-column: 2/3;
    z-index: 2;
    justify-self: end;
    margin-top: .5rem;
    margin-right: 1rem; }
    .popular-tour__stars--star {
      width: 3rem;
      height: 3rem;
      fill: #fff;
      -webkit-filter: drop-shadow(0 0 1rem #000);
      filter: drop-shadow(0 0 1rem #000); }
  .popular-tour__title {
    font-size: 1.4rem;
    background-color: #aaa;
    color: #fff;
    text-shadow: 0 0rem 2rem rgba(249, 247, 246, 0.7);
    box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.9);
    width: 80%;
    padding: 1rem 2rem;
    text-align: center;
    grid-row: 1/2;
    z-index: 3;
    grid-column: 1 /3;
    justify-self: center;
    align-self: end;
    transform: translateY(5%); }
  .popular-tour__price, .popular-tour__btn {
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 1.2rem;
    padding-bottom: 1rem; }
  .popular-tour__btn {
    background-image: linear-gradient(to right, #2998ff, #5643fa);
    text-decoration: none;
    color: #fff;
    transition: all .5s; }
    .popular-tour__btn:hover {
      background-image: linear-gradient(to right, #5643fa, #2998ff); }
  .popular-tour:hover .popular-tour__img {
    transform: scale(1);
    height: 100.5%;
    width: 100%; }

.travel-proposition {
  display: grid;
  grid-column: center-start / center-end;
  grid-template-rows: 15vh repeat(2, 1fr) 5vh;
  grid-template-columns: repeat(3, 1fr); }
  .travel-proposition__title {
    color: #282b2e;
    text-decoration: underline;
    font-style: italic;
    grid-column: 1/-1;
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0rem; }
  .travel-proposition__item {
    display: grid; }
    .travel-proposition__item-img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      grid-column: 1/3;
      grid-row: 1/8;
      z-index: 1; }
      .travel-proposition__item-img-down {
        transform: translateY(1rem); }
    .travel-proposition__item--name {
      font-size: 3.5rem;
      color: #fff;
      text-shadow: 0 0rem 2.5rem #282b2e;
      text-align: end;
      grid-row: 6/7;
      grid-column: 2/3;
      margin-right: 2.5rem;
      z-index: 3;
      cursor: pointer;
      transition: all .5s; }
      .travel-proposition__item--name:hover {
        color: #ddae71; }
